<p id=”notice”><%= notice %></p>
<h1>Find Me Food!</h1>
<p>Welcome to Find Me Food! Please login or sign up below to store your results!</p>
<%= link_to "Login", login_path %> |
<%= link_to "Sign Up", signup_path%>
